<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Paypal</title>
</head>
<body>
    <h1>Paypal test</h1>
    <div>
        <h2>Red shoes</h2>
        <p>Price $10</p>
        <form action="/pay" method="POST" >
            <button type="submit">Buy Now</button>
        </form>
    </div>
</body>
</html>
